# Ignore VSCode configuration files
.vscode

# Local developer Makefile overrides
Makefile.local

# Ignore all .wasm files
*.wasm

# Ignore the compiler binary
**/nojsc
!**/nojsc/

# Ignore the file generated go files in any directory
/**/*.generated.go

# Documentation build artifacts
.venv-docs
site/
