<div>
    <h1>Welcome Home!</h1>
    <p>This is the home page.</p>

    <p>Counter: {Counter}</p>

    <button @onclick="IncrementCounter">Increment Counter</button>


    <button @onclick="UpdateTitle">Change Layout Title</button>

    <button @onclick="ShowTheModal">Show Modal</button>
    <p>Modal result: {LastModalResult}</p>
    <p>Is modal visible: {IsMyModalVisible}</p>

    <Modal 
        IsVisible="{IsMyModalVisible}"
        Title="An Important Message"
        Type="{modal.Information}"
        ShowCancelButton="{true}"
        OnClose="HandleModalClose"
    >
        <p>This is the body of the modal.</p>
        <p>It's all type-safe and compiled!</p>

    </Modal>
</div>